*

!.config/
!.config/i3/config
!.config/polybar/
!.config/powerline/
!.config/rofi/
!.config/rofi/*

!.bashrc
!.fehbg
!.gitconfig
!.gitignore
!.p10k.zsh
!.vim/
!.vim/additionnal_functions.vim
!.vim/plugconfs/
!.vim/plugconfs/*
!.vimrc
!.xinitrc
!.Xresources
!.zshrc

!misc/gentoo_system/
!misc/gentoo_system/*

!install-vim-packages.sh
