*
!.local
!.local/share
!.local/share/xfce4
!.local/share/xfce4/terminal
!.local/share/xfce4/terminal/colorschemes
!.local/share/xfce4/terminal/colorschemes/*

!.config/

!.config/i3/config
!.config/polybar/
!.config/powerline/
!.config/rofi/
!.config/rofi/*
!.config/vifm
!.config/vifm/vifmrc

!.config/nvim
!.config/nvim/*
!.config/nvim/after
!.config/nvim/after/*
!.config/nvim/after/plugin
!.config/nvim/after/plugin/*
!.config/nvim/after/ftplugin
!.config/nvim/after/ftplugin/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/ftdetect
!.config/nvim/ftdetect/*

!.local
!.local/scripts
!.local/scripts/*

!.bashrc
!.gitconfig
!.gitignore
!.tmux.conf
!.vim/
!.vim/additionnal_functions.vim
!.vim/ftplugin/
!.vim/ftplugin/*
!.vim/plugconfs/
!.vim/plugconfs/*
!.vim/UltiSnips/
!.vim/UltiSnips/*
!.vimrc
!.xinitrc
!.Xresources
!.zshrc

!misc/
!misc/gentoo_system/
!misc/gentoo_system/*
!misc/pacman-packages.txt
