*

!.gitconfig
!.gitignore
!.bashrc
!.vimrc
!.zshrc
!.p10k.zsh
!.xinitrc
!.Xresources
!.fehbg

!misc/gentoo_system/gentoo_system/.gitignore
!.config/i3/config
!.config/powerline/
!.config/polybar/

!install-vim-packages.sh
