[user]
	email = simon.lizotte.1@ulaval.ca
	name = Simon Lizotte
[alias]
	st = status
	it = init
	ps = push
	ad = add .
	cm = commit -m
	fe = fetch
        me = merge
        co = checkout
        ca = commit --amend
        br = branch
        lg = log --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lgb= log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[core]
	editor = nvim
[init]
	defaultBranch = main
