xterm*background: black
xterm*foreground: lightgray
xterm*faceName: Hack
xterm*faceSize: 13


URxvt.scrollBar: false
URxvt.blink: false
URxvt.background: #0F0F0F
URxvt.foreground: #D4D4D4
URxvt.font: xft:Hack-Regular:pixelsize=16

URxvt.fading:           20
URxvt*fadeColor:        black
URxvt*transparent:      true
URxvt*shading:          20

URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


URxvt.perl-ext-commont: ..., font-size, tabbed, ...
! Extensions: modify font size on the fly
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! Tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! Clickable URL
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!State              bg       fg       bgalt    hlbg     hlfg
rofi.color-normal: #110214, #ffebfe, #360e34, #d15ecb, #110214
!                   bg       border   separator
rofi.color-window: #110214, #360c36, #bf99bf

rofi.font: FiraSans-Normal 14
rofi.modi: run,window,ssh

rofi.width: 30
rofi.height: 50
rofi.padding: 10

rofi.opacity: 60
rofi.bw: 2
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.sidebar-mode: true


rofi.eh: 1
rofi.lines: 5

rofi.terminal: urxvt
