snippet \begf "figure environment" bA
\begin{figure}
    \centering
    \includegraphics{$1}
    \caption{}
    \label{}
\end{figure}
endsnippet

snippet \bega "align environment" bA
\begin{align}
    $1
\end{align}
endsnippet

snippet \begin "latex environment" bA
\begin{${1:command}}
    ${2:body}
\end{$1}
endsnippet
